<head>
	<title>카테고리 목록</title>
	<style type="text/css">
		.parent-category-hover {
			background-color: #CCDDBB;
		}
		.child-category-hover {
			background-color: #EDEBE1;
		}
	</style>
	<script type="text/javascript">
	</script>
</head>
<body>

<div class="row-fluid">

	<div class="box span4">
		<div class="box-header well">
			<h2>카테고리 목록</h2>
		</div>
		<div class="box-content">
			<div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
				<ul class="nav nav-list ">
				#set( $parentLevel = 0 )
				#foreach( $item in  $categoryList )
					#if( $parentLevel != 0 && $item.level == 1 )
							</li>
						</ul></li>
						<li class="divider"></li>
					#end
					#if( $item.level == 1 )
						<li>
							<label class="tree-toggler nav-header" style="font-size: 1.2em; cursor: pointer;"><span>${item.cateName}</span></label>
							<div class="box-icon">
								<a href="#" onclick="rightViewHandler('R', '${item.cateName}', ${item.cateId}); return false;" data-rel="tooltip" data-original-title="상세조회">
									<i class="icon-info-sign"></i>
								</a>							
								<a href="#" onclick="rightViewHandler('U', '${item.cateName}', ${item.cateId}); return false;" style="margin-left: 8px;" data-rel="tooltip" data-original-title="정보수정">
									<i class="icon-ok-sign"></i>
								</a>							
								<a href="#" onclick="rightViewHandler('C', '${item.cateName}', ${item.cateId}); return false;" style="margin-left: 8px;" data-rel="tooltip" data-original-title="신규등록">
									<i class="icon-plus-sign"></i>
								</a>
							</div>							
							<ul class="nav nav-list tree" style="display: none;">
					#else
						<li>
							<a href="#" class="dev-submenu-item" ><span>${item.cateName}</span></a>
							<div class="box-icon">
								<a href="#" onclick="rightViewHandler('R', '${item.cateName}', ${item.cateId}); return false;" data-rel="tooltip" data-original-title="상세조회">
									<i class="icon-info-sign"></i>
								</a>							
								<a href="#" onclick="rightViewHandler('U', '${item.cateName}', ${item.cateId}); return false;" style="margin-left: 8px;" data-rel="tooltip" data-original-title="정보수정">
									<i class="icon-ok-sign"></i>
								</a>							
								<a href="#" onclick="rightViewHandler('C', '${item.cateName}', -1); return false;" style="margin-left: 8px;" data-rel="tooltip" data-original-title="신규등록">
									<i class="icon-plus-sign"></i>
								</a>
							</div>							
						</li>
					#end
					#set( $parentLevel = $item.level )
				#end
				</ul>
			</div>
    	</div>  	                
	</div>
	
	<div class="box span8">
		<div class="box-header well">
			<h2 id="dev-right-view-title">&nbsp;</h2>
		</div>
		<div class="box-content">
			<div class="row-fluid">
				<div id="dev-right-view-content">&nbsp;</div>
			</div>
    	</div>                  
	</div>
	
</div>

</body>




	