#if ( $!alertType == "alert_and_post" || $!alertType == "confirm_and_post" )
	#set( $methodType = "post" )
#else
	#set( $methodType = "get" )
#end

<script type="text/javascript">
	window.onload = function() {
		goPage();
	}
	
	function goPage() {
	
		var form = document.alertForm;
		#if( $!alertType == "go_page" )
			form.method = '${methodType}';
			form.action = '${redirectUrl}';
		#elseif( $!alertType == "alert_and_back" )
			alert('$!{mesage}');
			history.back(-1);
		#elseif( $!alertType == "alert_and_close" )
			alert('$!{mesage}');
			form.target = opener.name;
			form.method = '${methodType}';
			form.action = '${redirectUrl}';
			self.close();
		#elseif( $!alertType == "alert_and_go" || $!alertType == "alert_and_post" )
			alert('$!{mesage}');
			form.method = '${methodType}';
			form.action = '${redirectUrl}';
		#elseif( $!alertType == "confirm_and_go" || $!alertType == "confirm_and_post" )
			form.method = '${methodType}';
			var answer = confirm('${message}');
			if (answer) {
				#if( $!redirectUrl != "" )
			    form.action = '${redirectUrl}';
			    #end
			} else {
				#if( $!cancelUrl != "" )
				form.action = '${cancelUrl}';
				#end
			}
		#end
		
		#if( $!target != "" )
			form.target = '${target}';
		#end
		
		#if( $!alertType != "alert_and_back" )
			form.submit();
		#end	
	}
	
</script>

<form id="alertForm" name="alertForm" onsubmit="return false;">
	#foreach( $mapEntry in $params.entrySet() )
		<input type="hidden" name="$mapEntry.key" value="$!mapEntry.value" />
	#end
</form>